/* Improvements
https://codepen.io/njbair/pen/ZVPomJ 
https://codepen.io/lbebber/pen/XJRdrV/
*/

/* The TV Box */
#game-container {
	width: var(--width); /* Default, set by JS */
	height: var(--height); /* Default, set by JS */

	position: relative;
	/* top: calc(var(--16px) * var(--scale)); */
	background: var(--body);
	box-shadow: 0 0 calc(4 * var(--16px) * var(--scale)) var(--black-80);
	overflow: hidden;
	border-radius: calc(2 * var(--16px) * var(--scale));
}

/* CRT Scanlines Overlay */
.scanlines {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		var(--black-00),
		var(--black-00) 50%,
		var(--black-20) 50%,
		var(--black-20)
	);
	/* Size of scanlines */
	background-size: 100% calc(var(--4px) * var(--scale));
	pointer-events: none;
	z-index: 999;
}

/* Tube Bulge & Vignette Overlay */
.tube-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Vignette (Dark Corners) */
	background: radial-gradient(
		circle,
		var(--black-00) 60%,
		var(--black-20) 100%
	);
	/* Inner Shadow for depth */
	box-shadow: inset 0 0 calc(5 * var(--16px) * var(--scale)) var(--black-60);
	pointer-events: none;
	z-index: 1000;
	border-radius: calc(2 * var(--10px) * var(--scale));
}

/* Optional: Screen Glow */
#game-container::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: var(--body-bg);
	opacity: 0;
	z-index: 999;
	pointer-events: none;
}

/* UI Elements override to fit container */
.overlay,
.panel,
#splash-overlay {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	top: 0;
	left: 0;
}
