.tiny5 {
	font-family: "Tiny 5", monospace, sans-serif;
}

.jersey10 {
	font-family: "Jersey 10", monospace, sans-serif;
}

.jersey15 {
	font-family: "Jersey 15", monospace, sans-serif;
}

.jersey20 {
	font-family: "Jersey 20", monospace, sans-serif;
}

.jersey25 {
	font-family: "Jersey 25", monospace, sans-serif;
}

.orbitron {
	font-family: "Orbitron", monospace, sans-serif;
}

.orbitron800 {
	font-family: "Orbitron 800", monospace, sans-serif;
}

@font-face {
	font-family: "Tiny 5";
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/Tiny5/tiny5-v3-latin-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Jersey 10";
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/Jersey_10/jersey-10-v4-latin-regular.woff2")
		format("woff2");
}

@font-face {
	font-family: "Jersey 15";
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/Jersey_15/jersey-15-v4-latin-regular.woff2")
		format("woff2");
}

@font-face {
	font-family: "Jersey 20";
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/Jersey_20/jersey-20-v4-latin-regular.woff2")
		format("woff2");
}

@font-face {
	font-family: "Jersey 25";
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/Jersey_25/jersey-25-v4-latin-regular.woff2")
		format("woff2");
}

@font-face {
	font-family: "Orbitron";
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/Orbitron/orbitron-v35-latin-regular.woff2")
		format("woff2");
}

@font-face {
	font-family: "Orbitron 800";
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: url("../assets/fonts/Orbitron/orbitron-v35-latin-800.woff2")
		format("woff2");
}
