/* Splash Screen */
#splash-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* Let clicks pass through */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

#splash-overlay .hide {
	display: none !important;
}

#splash-overlay .active {
	opacity: 1 !important;
	transform: scale(1);
}

#splash-img {
	width: calc(30 * var(--10px) * var(--scale));
	height: auto;
	margin-bottom: calc(2 * var(--10px) * var(--scale));
	display: block;
}

.splash-msg {
	text-align: center;
	opacity: 0;
	transform: scale(0.5);
	transition: opacity 0.2s, transform 0.2s cubic-bezier(0.17, 0.67, 0.43, 1.44);
}

.splash-msg h1 {
	font-family: "Jersey 20", monospace;
	font-size: calc(8 * var(--16px) * var(--scale));
	text-transform: uppercase;

	background: linear-gradient(
		to bottom,
		var(--splash-gradient-start) 0%,
		var(--splash-gradient-end) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: calc((var(--1px) * var(--scale)) / 32)
		var(--splash-border);
	filter: drop-shadow(0 calc(var(--4px) * var(--scale)) var(--splash-shadow));

	margin-block: calc(var(--4px) * var(--scale));
}

.splash-msg p {
	font-family: "Jersey 10", monospace;
	font-size: calc(3 * var(--16px) * var(--scale));
	color: var(--white);
	margin: calc(var(--10px) * var(--scale)) 0 0 0;
	filter: drop-shadow(
		calc(var(--2px) * var(--scale)) calc(var(--4px) * var(--scale))
			var(--text-shadow)
	);
}
