/* Splash Screen */
#splash-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* Let clicks pass through */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

#splash-overlay .hide {
	display: none !important;
}

#splash-overlay .active {
	opacity: 1 !important;
	transform: scale(1);
}

#splash-img {
	width: 300px;
	height: auto;
	margin-bottom: 20px;
	display: block;
}

.splash-msg {
	text-align: center;
	opacity: 0;
	transform: scale(0.5);
	transition: opacity 0.2s, transform 0.2s cubic-bezier(0.17, 0.67, 0.43, 1.44);
}

.splash-msg h1 {
	font-family: "Jersey 20", monospace;
	font-size: 8rem;
	text-transform: uppercase;

	background: linear-gradient(
		to bottom,
		var(--splash-gradient-start) 0%,
		var(--splash-gradient-end) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px var(--splash-border);
	filter: drop-shadow(0px 4px var(--splash-shadow));

	margin-block: 0.2em;
}

.splash-msg p {
	font-family: "Tiny 5", monospace;
	font-size: 3rem;
	color: #fff;
	margin: 10px 0 0 0;
	filter: drop-shadow(2px 4px var(--text-shadow));
}
