/* Stage Selection Screen */
.stage-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(var(--10px) * var(--scale));
	height: calc(10 * var(--16px) * var(--scale));
	perspective: calc(100 * var(--10px) * var(--scale));
}

.stage-box .selected {
	border-color: var(--color-p1);
	box-shadow: 0 0 calc(var(--16px) * var(--scale)) var(--color-p1-active);
	z-index: 10;
	/* transform: scale(1.2); */
}

.stage-card {
	width: calc(20 * var(--10px) * var(--scale));
	border: calc(var(--4px) * var(--scale)) solid var(--gray-2);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	background: var(--black-0);
	/* transform: scale(1); */
}

.stage-card .thumb {
	height: calc(10 * var(--10px) * var(--scale));
	background: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	text-shadow: calc(var(--1px) * var(--scale)) calc(var(--2px) * var(--scale))
		var(--text-shadow);
	font-weight: bold;
	font-size: calc(2 * var(--10px) * var(--scale));
}
