/* Stage Selection Screen */
.stage-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 160px;
	perspective: 1000px;
}

.stage-box .selected {
	border-color: #ffcc00;
	z-index: 10;
	box-shadow: 0 4px #ffcc00;
	transform: scale(1.1);
}

.stage-card {
	width: 200px;
	border: 4px solid #444;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	background: #000;
	transform: scale(0.9);
}

.stage-card .thumb {
	height: 100px;
	background: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	font-weight: bold;
	font-size: 18px;
}
