:root {
	--bg: #0a1120;
	--ui: #13152a;
	--accent: #f25;
	--text: #efe;
	--bar-bg: #333a;
	--bar-p1: #4ad04a;
	--bar-p2: #4ad04a;
	/* --bar-p2: #f46; */
}
html,
body {
	margin: 0;
	overflow: hidden;
	font-family: monospace, sans-serif;
	text-transform: uppercase;
	color: var(--text);
}

canvas {
	display: block;
}

a {
	text-decoration: none;
	color: var(--accent);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
}

.panel {
	text-align: center;
}

.pixelated-element {
	filter: url(#pixelate);
}

/* General utilities */
.hidden {
	display: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Overlay */
.overlay {
	display: flex;
}

/* Title screen */
.logo {
	width: 400px;
	margin-bottom: 20px;
}

.title {
	color: #ffcc00;
	font-size: 4em;
	/* text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
		-1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 0px 6px #d00; */
	margin-bottom: 10px;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "BLED" 0, "SCAN" 0;
}

.insertCoin {
	font-size: 2em;
}

.footer {
	font-size: 2em;
	margin-top: 20px;
}

/* Animations */
.blink {
	animation: blink 1s infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
