:root {
	--bg: rgb(6, 11, 22);
	--ui: rgb(19, 21, 42);
	--accent: #f25;

	--title-gradient-start: #5c92ed;
	--title-gradient-end: #eeffee;
	--title-border: rgb(9, 10, 46);
	--title-shadow: rgb(34, 38, 255);

	--text: #efe;
	--text-gradient-start: #ebb706;
	--text-gradient-end: #f65d00;
	--text-border: rgb(9, 10, 46);
	--text-shadow: rgb(12, 14, 148);

	--splash-gradient-start: #ebb706;
	--splash-gradient-end: #f65d00;
	--splash-border: rgb(9, 10, 46);
	--splash-shadow: rgb(12, 14, 148);

	--bar-bg: #333a;
	--bar-p1: #4ad04a;
	--bar-p2: #4ad04a;
	/* --bar-p2: #f46; */
}
html,
body {
	margin: 0;
	overflow: hidden;
	font-family: monospace, sans-serif;
	text-transform: uppercase;
	color: var(--text);
}

canvas {
	display: block;
}

a {
	text-decoration: none;
	color: var(--accent);
}

/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Tiny 5", monospace, sans-serif;
	z-index: 50;
}

.panel {
	text-align: center;
}

/* Stylized content */

.pixelated-element {
	filter: url(#pixelate);
}

/* General utilities */
.hidden {
	display: none;
}

.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

/* HUD */
#game-hud {
	position: fixed;
	left: 50%;
	top: 10px;
	transform: translateX(-50%);
	width: min(1200px, 94%);
	z-index: 100;
	pointer-events: none;
	font-family: "Jersey 10", monospace, sans-serif;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-shadow: 2px 2px 0 #000;
}

#game-hud .timer {
	text-align: center;
	padding: 0 20px;
}

.timer .warning {
	color: #f00 !important;
}

#hud-timer {
	font-size: 24px;
	/* font-weight: bold; */
	color: #fff;
	background: #000;
	padding: 2px 10px;
	border: 1px solid #444;
	text-align: center;
}

#game-hud .container {
	width: 40%;
	gap: unset;
	display: flex;
	flex-direction: column;
}

#game-hud .right {
	text-align: right;
}

#game-hud .right .health-bar {
	justify-content: flex-end;
}

#game-hud .container .name {
	font-size: 20px;
	margin-bottom: 4px;
}

#game-hud .container .health-bar {
	height: 20px;
	background: rgba(0, 0, 0, 0.5);
	border: 2px solid #fff;
	overflow: hidden relative;
	display: flex;
}

#game-hud .container .fights-won {
	margin-top: 4px;
	font-size: 16px;
	color: #aaa;
}

#game-hud .container .health-bar div {
	height: 100%;
	width: 100%;
	background: #ffcc00;
	transition: width 0.1s;
}

#game-hud .container .health-bar .low-health {
	background: #f44 !important;
}

/* Title screen */
.logo {
	width: 30em;
	margin-bottom: 1.1em;
}

.title {
	/* color: #ffcc00; */
	background: var(--title-gradient-start);
	background: linear-gradient(
		to bottom,
		var(--title-gradient-start) 0%,
		var(--title-gradient-end) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px var(--title-border);
	filter: drop-shadow(0px 4px var(--title-shadow));

	font-size: 4em;
	font-weight: 400;
	font-family: "Jersey 15", monospace, sans-serif;

	margin-bottom: 1.1em;
}

/* .title::after {
	content: attr(data-content);
	position: absolute;
	inset: 0 0 0 0;
	filter: drop-shadow(0px 4px red);
} */

.splash-default {
	font-size: 1.5em;

	background: var(--text-gradient-start);
	background: linear-gradient(
		to bottom,
		var(--text-gradient-start) 0%,
		var(--text-gradient-end) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(2px 4px var(--text-shadow));
}

.container {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-bottom: 10px;
	text-align: left;
}

/* .insertCoin {
	font-size: 2.5em;
} */

/* .footer {
	font-size: 1.5em;
} */

/* Character Selection Screen */
.p1 {
	background: #6ad;
}

.p2 {
	background: #da8;
}

.vs {
	color: #fff;
	font-size: 3em;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vs img {
	width: 80px;
	height: auto;
}

.oponent-type {
	margin-top: 15px;
	text-align: center;
}

.oponent-type .content {
	font-size: 12px;
	margin-bottom: 5px;
	color: #aaa;
}

.oponent-type button {
	width: 100%;
	padding: 8px;
	color: #fff;
	border: none;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.2s;
	background: #444;
}

.oponent-type .ai {
	background: #d00;
}

.char-box {
	background: rgba(255, 255, 255, 0.05);
	padding: 20px;
	border: 1px solid #444;
}

.char-box h2 {
	color: #6ad;
	margin-top: 0;
	border-bottom: 1px solid #6ad;
	padding-bottom: 5px;
}

.char-box span {
	font-size: 10px;
	color: #fff;
	float: right;
	margin-top: 5px;
}

.char-card {
	border: 2px solid #333;
	cursor: pointer;
	transition: 0.1s;
	text-align: center;
	width: 80px;
	position: relative;
}

.char-card .identifier {
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	color: #000;
	font-size: 10px;
	font-weight: bold;
}

.char-card .selected {
	border-color: #fff;
	transform: scale(1.05);
	z-index: 10;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.char-card .item {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	background: #222;
}

.char-card .item-selected {
	background: #444;
}

.char-card .item-name {
	padding: 5px;
	font-weight: bold;
	font-size: 12px;
}

/* Stage Selection Screen */
.stage-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 160px;
	perspective: 1000px;
}

.stage-box .selected {
	border-color: #ffcc00;
	z-index: 10;
	box-shadow: 0 4px #ffcc00;
	transform: scale(1.1);
}

.stage-card {
	width: 200px;
	border: 4px solid #444;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	background: #000;
	transform: scale(0.9);
}

.stage-card .thumb {
	height: 100px;
	background: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	font-weight: bold;
	font-size: 18px;
}

/* Splash Screen */
#splash-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* Let clicks pass through */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

#splash-overlay .hide {
	display: none !important;
}

#splash-overlay .active {
	opacity: 1 !important;
	transform: scale(1);
}

#splash-img {
	width: 300px;
	height: auto;
	margin-bottom: 20px;
	display: block;
}

.splash-msg {
	text-align: center;
	opacity: 0;
	transform: scale(0.5);
	transition: opacity 0.2s, transform 0.2s cubic-bezier(0.17, 0.67, 0.43, 1.44);
}

.splash-msg h1 {
	font-family: "Jersey 20", monospace;
	font-size: 8rem;
	text-transform: uppercase;

	background: linear-gradient(
		to bottom,
		var(--splash-gradient-start) 0%,
		var(--splash-gradient-end) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px var(--splash-border);
	filter: drop-shadow(0px 4px var(--splash-shadow));

	margin-block: 0.2em;
}

.splash-msg p {
	font-family: "Tiny 5", monospace;
	font-size: 3rem;
	color: #fff;
	margin: 10px 0 0 0;
	filter: drop-shadow(2px 4px var(--text-shadow));
}
