@import "variables.css";
@import "fonts.css";
@import "animations.css";
@import "characterSelection.css";
@import "hud.css";
@import "splash.css";
@import "stageSelection.css";

html,
body {
	margin: 0;
	overflow: hidden;
	font-family: monospace, sans-serif;
	text-transform: uppercase;
	color: var(--text);
}

canvas {
	display: block;
}

a {
	text-decoration: none;
	color: var(--accent);
}

/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Tiny 5", monospace, sans-serif;
	z-index: 50;
}

.panel {
	text-align: center;
}

/* Stylized content */

.pixelated-element {
	filter: url(#pixelate);
}

/* General utilities */
.hidden {
	display: none;
}

.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

/* Title screen */
.logo {
	width: 30em;
	margin-bottom: 1.1em;
}

.title {
	/* color: #ffcc00; */
	background: var(--title-gradient-start);
	background: linear-gradient(
		to bottom,
		var(--title-gradient-start) 0%,
		var(--title-gradient-end) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px var(--title-border);
	filter: drop-shadow(0px 4px var(--title-shadow));

	font-size: 4em;
	font-weight: 400;
	font-family: "Jersey 15", monospace, sans-serif;

	margin-bottom: 1.1em;
}

/* .title::after {
	content: attr(data-content);
	position: absolute;
	inset: 0 0 0 0;
	filter: drop-shadow(0px 4px red);
} */

.splash-default {
	font-size: 1.5em;

	background: var(--text-gradient-start);
	background: linear-gradient(
		to bottom,
		var(--text-gradient-start) 0%,
		var(--text-gradient-end) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(2px 4px var(--text-shadow));
}

.container {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-bottom: 10px;
	text-align: left;
}

/* .insertCoin {
	font-size: 2.5em;
} */

/* .footer {
	font-size: 1.5em;
} */
